# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.db
*.db-journal
*.db-shm
*.db-wal

# Rust
V2RayDAR-main/target/
V2RayDAR-main/Cargo.lock

# Environments & Configs
.env
.vscode/
.idea/
instance/
dist/
build/
*.egg-info/
